@using MVC_Data_project.Models
@model List<Person>


<div class="row">
    <div class="col-md-3">
        @Ajax.ActionLink("Name", "SortPeople", new { sortOrder = Session["TestName"]}, new AjaxOptions
   {
       UpdateTargetId = "Search",
       InsertionMode = InsertionMode.ReplaceWith
   })
    </div>
    <div class="col-md-3">
        @Ajax.ActionLink("City", "SortPeople", new { sortOrder = Session["TestCity"]}, new AjaxOptions
   {
       UpdateTargetId = "Search",
       InsertionMode = InsertionMode.ReplaceWith
   })
    </div>
    <div class="col-md-3">
        @Html.DisplayName("Phone Number")
    </div>
    <div class="col-md-3">
        @Html.DisplayName("Details")
    </div>
</div>
