@using MVC_Data_project.Models
@model List<Person>
@{

    ViewBag.Title = "Index";
}

<h2>Ajax Index</h2>

<div class="row" id="Button">
    @Html.Partial("_CreateButton")

</div>
<br />
<div class="row">
    @Html.Partial("_Search")
</div>
<br />

<table class="table">
    <tr class="row">
        @Html.Partial("_SortMenu")
    </tr>
</table>

<div class="row">

    <div class="col-md-12" id="Search">
        @Html.Partial("_personListTest")
    </div>

</div>


